[tool.poetry]
name = "pdbmender"
version = "0.3.1"
description = "Mend PDB files"
authors = ["Pedro B.P.S. Reis <pdreis@fc.ul.pt>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
